<splitted-panel *ngIf="profile$ | async as profile">
  <ng-container ngProjectAs="list-content">
    <mat-toolbar>
      <h3>Profile</h3>
      <a mat-icon-button routerLink="form">
        <mat-icon>add</mat-icon>
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="introduction">
        Introduction
      </a>
      <mat-divider></mat-divider>
      <mat-expansion-panel mat-list-item class="experiences-panel">
        <mat-expansion-panel-header>
          Experiences
        </mat-expansion-panel-header>
        <mat-panel-description>
          <form>
            <input name="add-experience" [formControl]="newExperience" placeholder="Add a new experience" />
            <button type="submit" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </form>
          <mat-nav-list class="experiences">
            <ng-container *ngFor="let experience of profile.experiences">
              <a mat-list-item routerLink="experiences">Ex 1</a>
            </ng-container>
          </mat-nav-list>
        </mat-panel-description>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="introduction">
        Hobbies
      </a>
    </mat-nav-list>
  </ng-container>

  <ng-container ngProjectAs="view-content">
    <router-outlet></router-outlet>
  </ng-container>
</splitted-panel>
