:host {
  display: block;
  height: 100%;
}

mat-expansion-panel.experiences-panel {
  background: none;
  box-shadow: none;

  mat-expansion-panel-header {
    padding: 0 16px; // Should match mat-list-item padding
  }
  mat-nav-list {
    width: 100%;
  }
}

