<section class="list" [style.paddingRight]="size + 'px'">
  <ng-content select="list-content"></ng-content>
</section>

<div
  id="resize"
  cdkDrag
  [style.right]="position + 'px'"
  [ngClass]="{ dragging: dragging }"
  (cdkDragStarted)="dragging = true"
  (cdkDragEnded)="exit()"
  (cdkDragMoved)="changeSize($event)"
  cdkDragBoundary="splitted-panel"
>
  <button mat-fab cdkDragHandle aria-label="Handler to resize view panel">
    <mat-icon>height</mat-icon>
  </button>
</div>

<section class="view" [style.width]="size + 'px'">
  <ng-content select="view-content"></ng-content>
</section>
