<ng-container *ngIf="profile$ | async as profile; else toLogin">
  <section class="connected">
    <a matRipple class="img-link" routerLink="/profile">
      <img [src]="profile.photoURL" alt="Profile image" />
    </a>
    <a class="click-to-action" mat-flat-button color="primary">Wishlist</a>
    <button mat-button (click)="signout()">Signout</button>
  </section>
</ng-container>

<ng-template #toLogin>
  <mat-toolbar class="no-connected">
    <a routerLink="/signin" matRipple>
      <mat-icon>account_circle</mat-icon>
      <h3>Login</h3>
    </a>
  </mat-toolbar>
</ng-template>
<mat-divider></mat-divider>
