<mat-sidenav-container class="mat-typography">
  <mat-sidenav [mode]="mode$ | async" position="start" [opened]="navOpened$ | async">
    <mat-toolbar>
      <a class="mat-title" routerLink="/landing">Job Hunting</a>
      <auth-widget></auth-widget>
    </mat-toolbar>
    <mat-nav-list *ngIf="isDesktop$ | async">
      <h3 matSubheader>Dashboard</h3>
      <a mat-list-item routerLink="company" routerLinkActive="active">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Company Details</span>
      </a>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Jobs Offers</span>
      </a>
      <h3 matSubheader>Settings</h3>
      <a mat-list-item routerLink="settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="isDesktop$ | async else mobileContent">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #mobileContent>
      <main>
        <router-outlet></router-outlet>
      </main>

      <nav mat-tab-nav-bar mat-stretch-tabs class="mat-tab-group-inverted-header">
        <a mat-tab-link routerLink="job" routerLinkActive #rlaJob="routerLinkActive" [active]="rlaJob.isActive">Jobs</a>
        <a mat-tab-link routerLink="signin" routerLinkActive #rlaAccount="routerLinkActive" [active]="rlaAccount.isActive">Account</a>
      </nav>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
