:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  flex: 1;
}


mat-toolbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
