// See : https://materialtheme.arcsine.dev/

////////////////
// FOREGROUND //
////////////////

$light-text: rgb(242, 240, 238);
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

////////////////
// BACKGROUND //
////////////////


$dark-background:     rgb(40, 36, 36);
$dark-bg-lighter-5:   lighten($dark-background, 2%);
$dark-bg-lighter-10:  lighten($dark-background, 4%);
$dark-bg-lighter-20:  lighten($dark-background, 10%);
$dark-bg-lighter-30:  lighten($dark-background, 15%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);


$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-10,
  dialog:                   $dark-bg-lighter-5,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

///////////
// THEME //
///////////

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-capacitor-primary: mat-palette($mat-pink);
$ng-capacitor-accent: mat-palette($mat-pink, A200, A100, A400);
$ng-capacitor-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-capacitor-dark-theme: mat-dark-theme($ng-capacitor-primary, $ng-capacitor-accent, $ng-capacitor-warn);
