<mat-sidenav-container class="mat-typography">
  <mat-sidenav [mode]="mode$ | async" position="start" [opened]="isDesktop$ | async">
    <auth-widget></auth-widget>
    <mat-nav-list *ngIf="isDesktop$ | async">
      <a mat-list-item routerLink="job/list/map" routerLinkActive="active">Jobs</a>
      <a mat-list-item routerLink="job/dashboard" routerLinkActive="active">Job Dashboard</a>
      <a mat-list-item routerLink="signin" routerLinkActive="active">Account</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="isDesktop$ | async else mobileContent">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #mobileContent>
      <main>
        <router-outlet></router-outlet>
      </main>

      <nav mat-tab-nav-bar mat-stretch-tabs class="mat-tab-group-inverted-header">
        <a mat-tab-link routerLink="job" routerLinkActive #rlaJob="routerLinkActive" [active]="rlaJob.isActive">Jobs</a>
        <a mat-tab-link routerLink="signin" routerLinkActive #rlaAccount="routerLinkActive" [active]="rlaAccount.isActive">Account</a>
      </nav>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
