<splitted-panel *transloco="let t; scope: 'jobs'">
  <ng-container ngProjectAs="list-content">
    <search-bar [formControl]="searchForm" ngDefaultControl ></search-bar>
    <ng-container *ngIf="jobs$ | async as jobs">
      <mat-nav-list *ngIf="isFavorites$ | async as isFavorite" [@fade]="jobs.length">
        <mat-list-item *ngFor="let job of jobs">
          <a matLine [routerLink]="job.id">{{ job.title }}</a>
          <button *ngIf="connected$ | async" mat-icon-button (click)="toggleFavorite(job.id)">
             <mat-icon [color]="isFavorite[job.id] ? 'primary' : 'none'">favorite</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
  </ng-container>

  <ng-container ngProjectAs="view-content">
    <router-outlet></router-outlet>
  </ng-container>
</splitted-panel>
