:host {
  height: 100%;
  display: block;
  position: relative;
}

#resize {
  position: absolute;
  z-index: 1;
  height: 100%;
  button {
    transform: scale(0.3);
    position: absolute;
    top: calc(50% - 28px);
    right: -28px;
    color: #ccc;
    cursor: move;
    transition: transform 0.2s ease-in-out;
  }
  mat-icon {
    transform: rotate(90deg);

  }
}

#resize:hover, #resize.dragging {
  border-left: 1px solid rgba( white, 0.1);
  button {
    transform: scale(1);
  }
}


section.list {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}


section.view {
  position: absolute;
  right: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
