// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Be sure that you only ever include this mixin once!
@include mat-core();

// Dark Theme
@import './theme/dark.scss';


// Components
@import './app/ui/splitted-panel/splitted-panel.theme.scss';
@import './app/ui/search-bar/search-bar.theme.scss';
@mixin components-theme($theme) {
  @include splitted-panel-theme($theme);
  @include search-bar-theme($theme);


  // SCROLL BAR
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: map-get(map-get($theme, background), card);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: map-get(map-get($theme, foreground), dividers);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: map-get(map-get($theme, foreground), disabled-button);
  }
}


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-capacitor-dark-theme);
@include components-theme($ng-capacitor-dark-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


