// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Be sure that you only ever include this mixin once!
@include mat-core();


// Components
@import './app/ui/splitted-panel/splitted-panel.theme.scss';
@import './app/ui/search-bar/search-bar.theme.scss';
@mixin components-theme($theme) {
  @include splitted-panel-theme($theme);
  @include search-bar-theme($theme);


  // SCROLL BAR
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: map-get(map-get($theme, background), card);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: map-get(map-get($theme, foreground), dividers);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: map-get(map-get($theme, foreground), disabled-button);
  }
}

.default {
  @media (prefers-color-scheme: light) {
    @import './theme/light.scss'; // Should not import twice
    @include angular-material-theme($ng-capacitor-light-theme);
    @include components-theme($ng-capacitor-light-theme);
  }
  @media (prefers-color-scheme: dark) {
    @import './theme/dark.scss'; // Should not import twice
    @include angular-material-theme($ng-capacitor-dark-theme);
    @include components-theme($ng-capacitor-dark-theme);
  }
}

.dark {
  // Dark Theme
  @import './theme/dark.scss';
  @include angular-material-theme($ng-capacitor-dark-theme);
  @include components-theme($ng-capacitor-dark-theme);
}

.light {
  // Light Theme
  @import './theme/light.scss';
  @include angular-material-theme($ng-capacitor-light-theme);
  @include components-theme($ng-capacitor-light-theme);
}


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


