:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.divider {
  hr {
    flex: 1;
  }
}
